<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Usuário</title>
  <link rel="stylesheet" href="./css/cadastroUsuario.css">
</head>
<body>
  <main>
    <div id="container">
      <div id="informacoes">
        <figure>
          <img src="./src/View/img/logo.png" alt="">
        </figure>
        <h2>Escolha um nome de usuario <br>
        voce pode altera-lo quando quiser.</h2>
      </div>
    <div id="inputs">
      <input id="nome" type="text" placeholder="Nome de Usuário">
      <input id="email" type="text" placeholder="Email">
      <input id="senha" type="password" placeholder="Senha">
      <input id="confSenha" type="password" placeholder="Confirmar Senha">
    </div>
        
        <div>
          <button id="botaoConfirmar">Confirmar</button>
        </div>
        </div>
  </main>
</body>
</html>