<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="./css/globalStyle.css" />
    <link rel="stylesheet" href="./css/redefinirSenha.css" />
  </head>

  <body>
    <main>
      <div id="container">
        <div id="topo">
          <button>
            <figure>
              <img src="/src/View/img/voltar.png" alt="" />
            </figure>
          </button>
          <hr>
        </div>

        <div id="filho1">
          <p>
            Esqueceu da sua senha ou está com <br />
            problemas ao entrar em sua conta?
          </p>
          <br />
          <br />
          <p>
            Insira seu Email ou número de telefone <br />
            para enviarmos um código de confirmação.
          </p>
          <input
            type="text"
            id="inputEmail"
            placeholder="Insira aqui seus dados"
          />
          <button id="confirmar">confirmar</button>
        </div>
      </div>
      <footer class="footer">
        © 2025 Desenvolvido por TDS. Todos os direitos reservados.
      </footer>
    </main>
  </body>
</html>
