#container {
  background-color: black;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#filho2 {
  width: 500px;
  height: 350px;
  background-color: red;
}

main{
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: #111827;
}

* {
  margin: 0%;
  padding: 0%;
}


button {
  margin-top: 4%;
  margin-left: 24%;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 45%;
  background-color: #dadbe2;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  padding: 2%;
}


#usuario {
  height: 8%;
  width: 33%;
  z-index: 1;
  border-radius: 8px;
  border: 0;
  box-shadow: 1px 1px 0px rgb(40, 40, 40);
}

#senha {
  margin-top: 15px;
  height: 8%;
  width: 33%;
  z-index: 1;
  border-radius: 8px;
  border: 0;
  box-shadow: 1px 1px 0px;
}

#entrarConta {
  margin-top: 5%;
  height: 14%;
  width: 80%;
  border-radius: 8x;
  background-color: #3b82f6;
  box-shadow: 1px 1px 0px black;
  transition: transform 0.5s;
}

#entrarConta:hover {
  transform: translateZ(10px) scale(0.95);
  background-color: #2662c2;
}

#criarConta {
  box-shadow: 1px 1px 0px black;
  background-color: #10b981;
  transition: transform 0.5s;
}

#criarConta:hover {
  transform: translateZ(10px) scale(0.95);
  background-color: #0aa874;
}

button:hover {
  cursor: pointer;
}

footer {
  display: flex;
  background-color: #606975;
  color: white;
  height: 10%;
  justify-content: center;
  align-items: center;
}

#Titulo {
  color: #f9fafb;
  font-size: 50px;
}

#breveDescricao {
  color: #7d8995;
  font-size: 20px;
}

#inputs {
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
}

img {
  width: 10%;
  height: 10%;
}

#esquecisenha {
  z-index: 1;
  color: rgb(105, 3, 3);
}

#esquecisenha:hover {
  color: rgb(174, 6, 6);
}
